<section class="experience">
    <h2 class="experience-heading">Experience</h2>
    <div class="timeline-container">
        <div class="timeline-bar"></div>
        <div class="timeline-items"> 
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3 class="timeline-title">Quantitative Analyst</h3>
                    <p class="timeline-company">The Maroon Fund</p>
                    <p class="timeline-date">August 2025 - Present</p>
                    <p class="timeline-description">Creating and improving a linear regression model using a dip detection strategy to optimize alpha. 
                        Thanks to the success of the model, the fund was given an additional $50,000 to invest on the quant side of the fund.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3 class="timeline-title">Competitive Programmer</h3>
                    <p class="timeline-company">Aggie Coding Club, Aggie Competitive Programming Club, TIDALtamu</p>
                    <p class="timeline-date">August 2025 - Present</p>
                    <p class="timeline-description">
                        Joined multiple programming clubs on campus to compete and practice data structures and algorithmic coding. Worked to build skills with LeetCode-style questions.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3 class="timeline-title">Computer Programmer</h3>
                    <p class="timeline-company">Governor's School for Computational Physics</p>
                    <p class="timeline-date">June 2023</p>
                    <p class="timeline-description">
                        Collected data on probes and applied vector analysis to predict y-values for various inputs. 
                        Used calculus and physics, built simulations in Fortran 95 including 1-D Heat Equation, N-body 
                        gravity, and harmonic motion; Primarily worked on Linux.
                </div>
            </div>
        </div>
    </div>
</section>

